<h2 class="text-secondary">{{title}}</h2>
<a href="/" class="text-secondary mr-4 text-decoration-none">Home</a>
<a href="/about" class="text-secondary mr-4 text-decoration-none">About</a>
<a href="/help" class="text-secondary mr-4 text-decoration-none">Help</a>
